core/Microsoft.EMIC.Cloud.GenericWorker/OGF.BES/Schema/bes-management.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.1.1 (branches/2.1-6844; 2011-07-29T12:07:24+0000) JAXWS-RI/2.2.5 JAXWS/2.2. -->
<xs:schema targetNamespace="http://schemas.ggf.org/bes/2006/08/bes-management" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://schemas.ggf.org/bes/2006/08/bes-management"> <xs:element name="StartAcceptingNewActivities" type="tns:StartAcceptingNewActivitiesType"/> <xs:element name="StartAcceptingNewActivitiesResponse" type="tns:StartAcceptingNewActivitiesResponseType"/> <xs:element name="StopAcceptingNewActivities" type="tns:StopAcceptingNewActivitiesType"/> <xs:element name="StopAcceptingNewActivitiesResponse" type="tns:StopAcceptingNewActivitiesResponseType"/> <xs:complexType name="StopAcceptingNewActivitiesResponseType"> <xs:sequence> <xs:any maxOccurs="unbounded" minOccurs="0" namespace="##other" processContents="lax"/> </xs:sequence> <xs:anyAttribute namespace="##other" processContents="skip"/> </xs:complexType> <xs:complexType name="StopAcceptingNewActivitiesType"> <xs:sequence> <xs:any maxOccurs="unbounded" minOccurs="0" namespace="##other" processContents="lax"/> </xs:sequence> <xs:anyAttribute namespace="##other" processContents="skip"/> </xs:complexType> <xs:complexType name="StartAcceptingNewActivitiesType"> <xs:sequence> <xs:any maxOccurs="unbounded" minOccurs="0" namespace="##other" processContents="lax"/> </xs:sequence> <xs:anyAttribute namespace="##other" processContents="skip"/> </xs:complexType> <xs:complexType name="StartAcceptingNewActivitiesResponseType"> <xs:sequence> <xs:any maxOccurs="unbounded" minOccurs="0" namespace="##other" processContents="lax"/> </xs:sequence> <xs:anyAttribute namespace="##other" processContents="skip"/> </xs:complexType> </xs:schema>