core/Microsoft.EMIC.Cloud.GenericWorker/OGF.BES/Schema/envelope.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.1.1 (branches/2.1-6844; 2011-07-29T12:07:24+0000) JAXWS-RI/2.2.5 JAXWS/2.2. -->
<xs:schema targetNamespace="http://schemas.xmlsoap.org/soap/envelope/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://schemas.xmlsoap.org/soap/envelope/"> <xs:element name="Body" type="tns:Body"/> <xs:element name="Envelope" type="tns:Envelope"/> <xs:element name="Fault" type="tns:Fault"/> <xs:element name="Header" type="tns:Header"/> <xs:complexType name="detail"> <xs:sequence> <xs:any maxOccurs="unbounded" minOccurs="0" namespace="##other" processContents="lax"/> </xs:sequence> <xs:anyAttribute namespace="##other" processContents="skip"/> </xs:complexType> <xs:complexType name="Fault"> <xs:sequence> <xs:element name="faultcode" type="xs:QName"/> <xs:element name="faultstring" type="xs:string"/> <xs:element name="faultactor" type="xs:anyURI" minOccurs="0"/> <xs:element name="detail" type="tns:detail" minOccurs="0"/> </xs:sequence> </xs:complexType> <xs:complexType name="Envelope"> <xs:sequence> <xs:element name="Header" type="tns:Header" minOccurs="0" form="qualified"/> <xs:element name="Body" type="tns:Body" form="qualified"/> <xs:any maxOccurs="unbounded" minOccurs="0" namespace="##other" processContents="lax"/> </xs:sequence> <xs:anyAttribute namespace="##other" processContents="skip"/> </xs:complexType> <xs:complexType name="Header"> <xs:sequence> <xs:any maxOccurs="unbounded" minOccurs="0" namespace="##other" processContents="lax"/> </xs:sequence> <xs:anyAttribute namespace="##other" processContents="skip"/> </xs:complexType> <xs:complexType name="Body"> <xs:sequence> <xs:any maxOccurs="unbounded" minOccurs="0" namespace="##other" processContents="lax"/> </xs:sequence> <xs:anyAttribute namespace="##other" processContents="skip"/> </xs:complexType> </xs:schema>