core/Microsoft.EMIC.Cloud.GenericWorker/OGF.BES/Schema/jsdl-hpcpa.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.1.1 (branches/2.1-6844; 2011-07-29T12:07:24+0000) JAXWS-RI/2.2.5 JAXWS/2.2. -->
<xs:schema targetNamespace="http://schemas.ggf.org/jsdl/2006/07/jsdl-hpcpa" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://schemas.ggf.org/jsdl/2006/07/jsdl-hpcpa"> <xs:element name="Argument" type="xs:string"/> <xs:element name="Environment" type="tns:Environment_Type"/> <xs:element name="Error" type="xs:string"/> <xs:element name="Executable" type="xs:string"/> <xs:element name="HPCProfileApplication" type="tns:HPCProfileApplication_Type"/> <xs:element name="Input" type="xs:string"/> <xs:element name="Output" type="xs:string"/> <xs:element name="UserName" type="xs:string"/> <xs:element name="WorkingDirectory" type="xs:string"/> <xs:complexType name="Environment_Type"> <xs:simpleContent> <xs:extension base="xs:string"> <xs:attribute name="name" type="xs:NCName" use="required"/> </xs:extension> </xs:simpleContent> </xs:complexType> <xs:complexType name="HPCProfileApplication_Type"> <xs:sequence> <xs:element name="Executable" type="xs:string" minOccurs="0" form="qualified"/> <xs:element name="Argument" type="xs:string" minOccurs="0" form="qualified" maxOccurs="unbounded"/> <xs:element name="Input" type="xs:string" minOccurs="0" form="qualified"/> <xs:element name="Output" type="xs:string" minOccurs="0" form="qualified"/> <xs:element name="Error" type="xs:string" minOccurs="0" form="qualified"/> <xs:element name="WorkingDirectory" type="xs:string" minOccurs="0" form="qualified"/> <xs:element name="Environment" type="tns:Environment_Type" minOccurs="0" form="qualified" maxOccurs="unbounded"/> <xs:element name="UserName" type="xs:string" minOccurs="0" form="qualified"/> </xs:sequence> <xs:attribute name="name" type="xs:NCName"/> <xs:anyAttribute processContents="skip" namespace="##other"/> </xs:complexType> </xs:schema>